body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
h1{
   
    font-size: 50px;
}
.orange-color{
    color: orange;
}

#heider-section{
    display: flex;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
 
}
.helf-widht{
    width: 40%;
    margin-left: 5%;
}
.helf-widht img{ 
    width: 600px;
}
.helf-widht a{ 
   text-decoration: none;
   background-color: red;
   padding: 10px 20px ;
   border-radius: 5px;
   color: white;
   background-image: linear-gradient(orange, tomato);
}


#middle-section{
    display: flex;
    margin-top: 100px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:  right ;
    margin-bottom: 100px;
}
#stact-developer {
    border-left: 7px solid;
    border-image: linear-gradient(orange , cyan);
    border-image-slice: 1;
    
}
#babe-dev {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}

#experiance-section .experiance{
   font-size: 35px;
}
#experiance-section .developer{
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
}


#experiance-section .developer .full-stact{
    width: 40%;
    margin-left: 5%;
    box-shadow: 5px 5px 30px gray;
    padding: 50px;
    
}
#experiance-section .developer .full-stact h2{
   font-size: 40px;
}

#experiance-section .developer .baby-stact{
    width: 40%;
    margin-left: 5%;
 margin-right: 5%;
    box-shadow: 5px 5px 30px gray;
    padding: 50px;
}

#experiance-section .developer .baby-stact h2{
    font-size: 40px;
 }

